html {
    scroll-padding-top: 96px;
}

body {
    /*background-image: url("/i/bg.png");
    background-repeat: repeat;*/
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin: 96px 220px 61px 220px;
}

/* Sidebar */
aside {
    position: fixed;
    margin: 96px 20px 61px 20px;
    padding: 5px;
    width: 170px;
    
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
}
aside a {
    text-decoration: none;
    color: darkslategrey;
    margin-top: 8px;
}
aside .side-head {
    border: 1px solid lightgray;
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
aside .side-subhead {
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

aside .button-group {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

/* Header and footer stuff */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 76px;
    display: block;
    background-color: #222;
}
nav {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 5px;
}
footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 41px;
    background-color: #222;
    color: white;
}

/* Navigation items and images */
.nav-item {
    height: 18px;
    border: 12px solid transparent;
    border-image: url("/i/button.png") 12 fill;
    text-decoration: none;
    margin: 5px;
    color: white;
    font-weight: bold;
}
.nav-item:hover {
    border-image: url("/i/button_hovered.png") 12 fill;
    color: darkcyan;
}
.nav-item:active {
    border-image: url("/i/button_pressed.png") 12 fill;
    color: darkcyan;
}
.nav-menu {
    height: 52px;
    display: flex;
}

.nav-item center {
    position: relative;
    transform: translate(0px, -4px);
}
.nav-item:hover center {
    position: relative;
    transform: translate(0px, -2px);
}
.nav-item:active center {
    position: relative;
    transform: translate(0px, 5px);
}

#nav-home {
    border: 12px solid transparent;
    border-image: url("/i/home.png") 12 fill;
    width: 20px; height: 30px;
    padding-bottom: 0px;
}
#nav-home:hover {
    border-image: url("/i/home_hovered.png") 12 fill;
}
#nav-home:active {
    border-image: url("/i/home_pressed.png") 12 fill;
}

/* Navigation drop-down menus */
.nav-dropdown {
    display: none;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
    position: absolute;
    margin-left: 5px;
    margin-top: 49px;
    padding: 5px;
}
.nav-menu:hover .nav-dropdown {
    display: block;
}
.nav-dropdown a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: black;
}

/* containers */
.content {
    width: 100%;
}

/* content modification */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #000022;
}

li {
    margin: 7px 0;
}