aside {
    height: 100%;
}

section {
    margin-bottom: 0px;
}

#game {
    border: var(--box-border-width) solid var(--box-border-color);
    width: calc(100vw - 523px);
    height: calc(100vh - 179px);
    padding: 10px;

    overflow: scroll;
}

#players {
    height: 100%;
    margin-top: 5px;
    overflow-y: scroll;
}
#players hr {
    margin: 3px 0px;
}
#players .heading {
    text-align: center;
    font-weight: bold;
}
#players .player {
    display: grid;
    align-items: center;

    grid-template-columns: 15px 10px 1fr 15px;
    grid-template-areas:
        "a b b c"
        ". . d d"
}
#players .player > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#players .player > b {
    grid-area: a;
    text-align: center;
}
#players .player > i {
    grid-area: b;
}
#players .player > em {
    grid-area: c;
    text-align: center;
    color: blue;
}
#players .player > span {
    grid-area: d;
    font-size: 0.9em;
    color: var(--link-color);
}

#help {
    margin-bottom: 5px;
}

#chat {
    position: fixed;
    right: 20px;
    top: 96px;
    bottom: 59px;

    display: flex;
    flex-direction: column;

    width: 200px;
    min-width: 170px;
    max-width: calc(100% - 54px);
    min-height: 200px;
    max-height: calc(100% - 169px);
}
#chat > .group {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat > #chat-box {
    height: 100%;
    margin: 5px 0px;

    overflow-y: scroll;
    overflow-wrap: break-word;
}
#chat > input {
    width: calc(100% - 8px);
}

#chat .message {
    margin-top: 2px;
    font-size: small;
}
#chat .message > div {
    margin-left: 10px;
}

#show-chat {
    display: none;
    position: fixed;
    font-family: monospace;
    font-size: large;
    
    right: 11px;
    top: 87px;

    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 750px) {
    aside {
        height: calc(100vh - 199px);
    }
    #show-chat {
        display: block;
    }
    #chat {
        display: none;
        margin-top: 30px;
    }
    #chat.shown {
        display: inherit;
    }
    #game {
        width: calc(100vw - 123px);
    }
}