:root {
    --box-color: #f6f6f6;
    --box-color-light: #ffffff;
    --box-color-dark: #e7e7e7;
    --box-color-darkest: #d8d8d8;
    --box-color-selected: #ccf6f6;
    --box-border-color: #cccccc;
    --box-border-color-light: #cccccc;
    --box-border-color-dark: #bbbbbb;
    --box-border-color-darkest: #aaaaaa;
    --box-border-color-selected: #99cccc;
    --box-border-width: 2px;

    --link-color: #0097a8;
    --hover-link-color: #10c8e5;
}

html {
    scroll-padding-top: 96px;
}

body {
    /*background-image: url("/i/bg.png");
    background-repeat: repeat;*/
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin: 96px 75px 61px 250px;
}

/* content modification */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2.8em;
    margin: 0;
    color: #000022;
}
h2 {
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul, ol {
    list-style: none;
    margin: 5px 0px;
    padding-left: 30px;
}
li {
    margin: 10px 0px;
}
p {
    margin: 0px;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    color: var(--hover-link-color);
}

.nowrap {
    white-space:nowrap;
    overflow:scroll;
}

/* Hidden bar */
#dialogs {
    position: absolute;
    top: 80px;
    left: 50vw;
    min-width: 300px;
    width: calc(100vw - 500px);
    max-width: 600px;
    transform: translate(-50%, 0px);

    z-index: 20;
    display: flex;
    flex-direction: column;
}
#dialogs > div {
    width: 100%;
    margin: 5px;
    padding: 5px;

    border: var(--box-border-width) solid var(--box-border-color-selected);
    background-color: var(--box-color-selected);
}
#dialogs .buttons {
    display: flex;
    justify-content: center;
}
#dialogs button {
    margin: 2px;
}
#dialogs p {
    text-align: center;
}

/* Windows/Modals */
.modal {
    position: fixed;
    top: 100px;
    left: 100px;

    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;

    margin: 0px;
    padding: 5px;
    z-index: 30;

    resize: both;
    overflow: hidden;

    border: var(--box-border-width) solid var(--box-border-color);
    background-color: var(--box-color);
}
.modal-head {
    display: flex;
    align-items: center;

    width: calc(100%);
    height: 20px;
    padding: 5px;
    cursor: move;

    transform: translate(-5px, -5px);
    border-bottom: var(--box-border-width) solid var(--box-border-color-selected);

    background-color: var(--box-color-selected);
}
.modal-head span {
    flex-grow: 1;
}
.modal-body {
    width: 100%;
    height: calc(100% - 20px);
    padding: 5px;
}

/* Sidebar */
aside {
    position: fixed;
    margin: 96px 20px 62px 20px;
    padding: 5px;
    width: 200px;

    overflow-y: auto;
    
    min-width: 170px;
    max-width: calc(100% - 54px);
    min-height: 200px;
    max-height: calc(100% - 169px);
    
    z-index: 10;
    display: flex;
    flex-direction: column;
    border: var(--box-border-width) solid var(--box-border-color);
    background-color: var(--box-color);
}
aside a {
    text-decoration: none;
    color: darkslategrey;
    margin-top: 8px;
}
aside img {
    height: auto;
    width: 100%;
    margin: auto;
}
.side-head {
    border: var(--box-border-width) solid var(--box-border-color-light);
    background-color: var(--box-color-light);
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
}
.side-subhead {
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

aside .group {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .fields {
    margin-top: 8px;
    display: grid;
    align-items: center;

    grid-template-columns: 60px 1fr;
    row-gap: 3px;
    text-align: center;
}

/* Header and footer stuff */
header {
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 76px;
    background-color: #222;

    display: flex;
    justify-content: space-between;
}
header > img {
    image-rendering: pixelated;
    height: 70px;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 5px;
}
footer {
    position: fixed;
    z-index: 15;
    bottom: 0;
    width: 100%;
    height: 41px;
    background-color: #222;
    color: white;
}

/* Navigation items and images */
.nav-item {
    height: 18px;
    border: 12px solid transparent;
    border-image: url("/i/button.png") 12 fill;
    text-decoration: none;
    margin: 5px;
    color: white;
    font-weight: bold;
}
.nav-item:hover {
    border-image: url("/i/button_hovered.png") 12 fill;
    color: darkcyan;
}
.nav-item:active {
    border-image: url("/i/button_pressed.png") 12 fill;
    color: darkcyan;
}
.nav-menu {
    height: 52px;
    display: flex;
}

.nav-item center {
    position: relative;
    transform: translate(0px, -4px);
}
.nav-item:hover center {
    position: relative;
    transform: translate(0px, -2px);
}
.nav-item:active center {
    position: relative;
    transform: translate(0px, 5px);
}

#nav-home {
    border: 12px solid transparent;
    border-image: url("/i/home.png") 12 fill;
    width: 20px; height: 30px;
    padding-bottom: 0px;
}
#nav-home:hover {
    border-image: url("/i/home_hovered.png") 12 fill;
}
#nav-home:active {
    border-image: url("/i/home_pressed.png") 12 fill;
}

/* Navigation drop-down menus */
.nav-dropdown {
    display: none;
    border: var(--box-border-width) solid var(--box-border-color);
    background-color: var(--box-color);
    position: absolute;
    margin-left: 5px;
    margin-top: 49px;
    padding: 5px;
}
.nav-menu:hover .nav-dropdown {
    display: block;
}
.nav-dropdown a {
    display: block;
    padding: 5px;
    color: black;
}

/* containers */
.flex {
    display: flex;
    align-items: center;
}
.content {
    width: 100%;
}
.iblock {
    display: inline-block;
}
.panel {
    border: var(--box-border-width) solid var(--box-border-color);
    background-color: var(--box-color);
    padding: 5px;
    display: inline-block;
}
.panel-light {
    border-color: var(--box-border-color-light);
    background-color: var(--box-color-light);
}
.panel-dark {
    border-color: var(--box-border-color-dark);
    background-color: var(--box-color-dark);
}
.panel-darkest {
    border-color: var(--box-border-color-darkest);
    background-color: var(--box-color-darkest);
}
.panel-selected {
    border-color: var(--box-border-color-selected);
    background-color: var(--box-color-selected);
}

.hidden {
    position: absolute;
    left: -9999px;
}
.nodisplay {
    display: none;
}
.tabbed {
    position: relative;
    left: 20px;
}
.larger {
    width: 250px;
    height: 150px;
}
.smaller {
    width: 250px;
    height: 50px;
}
#page-blocker {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff90;
    z-index: 14;
}

/* Ace thing */
.ace {
    resize: both;
    overflow: auto;
    width: 500px; height: 200px;
    display: inline-block;
    /*margin-top: 5px;*/
    border: var(--box-border-width) solid var(--box-border-color);
}
.ace-small {
    width: 250px; height: 100px;
}
.ace-medium {
    width: 350px; height: 250px;
}
/* jsTree stuff */
.jstree {
    height: 100%;
    margin-top: 8px;
    padding: 5px;

    overflow-x: auto;
    overflow-y: auto;

    font-size: smaller;

    background-color: white;
    border: var(--box-border-width) solid var(--box-border-color);

    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
/*
.jstree a {
    border: none;
    outline: none;
}
.jstree-container-ul {
    padding-left: 0px;
    margin: 0px;
}
.jstree-node {
    padding: 2px 6px;
    margin: 1px 0px;
}
.jstree-node[aria-selected="true"] {
    background-color: var(--box-color-selected);
    border: var(--box-border-width) solid var(--box-border-color-selected);
    padding: 0px 4px;
}
.jstree-clicked {
    color: var(--link-color);
}
*/
/* Gotta prevent the thicc context menu */
.jstree-contextmenu {
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif !important;
}
.jstree-contextmenu li>a {
    line-height: 25px !important;
    padding: 0px 0px 0px 10px !important;
    height: 25px !important;
    width: 90px !important;
}
.jstree-contextmenu ul {
    transform: translate(7px, 15px) !important;
}
.jstree-contextmenu li>a>i,
.vakata-contextmenu-sep
{
    display: none !important;
}
.vakata-context-separator > a {
    margin: 0px !important;
}

.mobile {
    display: none;
}
#show-sidebar {
    display: none;
    position: fixed;
    font-family: monospace;
    font-size: large;
    
    left: 11px;
    top: 87px;

    width: 30px;
    height: 30px;
}

/* mobile specific css */
@media only screen and (max-width: 750px) {
    .mobile {
        display: block;
    }
    #show-sidebar {
        display: block;
    }
    aside {
        display: none;
        margin-top: calc(96px + 30px);
    }
    aside.shown {
        display: inherit;
    }
    section {
        margin: 96px 50px 61px 50px;
    }
}

@media only screen and (max-width: 490px) {
    header > img {
        display: none;
    }
}