/*section {
    margin: 96px 20px 61px 250px;
}*/

body {
    min-width: 1000px;
}

aside {
    height: 100%;
    max-height: calc(100% - 167px);
}
aside select {
    height: 100%;
    margin-top: 8px;
    overflow-x: auto;
    overflow-y: auto;
}

.iitem {
    width: 120px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: top;
}
input.ientry[type="file"] {
    margin-bottom: 3px;
}

.content {
    /* TODO: figure out a way to make the page expand with the content */
}

.panel {
    margin-bottom: 10px;
    vertical-align: top;
}
.m {
    margin-top: 10px;
    margin-bottom: 0px;
}
.mb {
    margin-bottom: 10px;
}
.mb2 {
    margin-bottom: 5px;
}

.sbutton {
    width: 25px;
    height: 25px;
}